.clearfix:after {
	visibility:hidden;

	content: "";
	clear: both;
	height:0;
	font-size: 0;
}


div{

}

img{
	width: 100%;
}
/*header*/
header{
	text-align: center;
}
/* landing page */

#landing-page{
	position: absolute;
	top: 200px;
	left:0;
	right:0;
	margin: 0 auto;
	display: flex;
	height: 120px;
	width: 300px;
	background: #CCC;
	border: 3px solid green;
	border-radius: 15px;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	transition: all 1s;
}

#landing-page{
}
input{
	width: 150px;
	padding: 3px;
	margin: 2px 0;
}
#continue{

}
/* javascript related classes */
#board{
	display:flex;
	width: 432px;
	height: 432px;
	border: 4px green solid;
	margin: 0 auto;
}
.row{
	height: 50px;
	width: 50px;
	justify-content: space-around;
	flex-direction: column-reverse;
	align-items: center;

	border: 2px solid black;
}
.col{
	justify-content: space-around;
}

.bishop{
	background: url('images/bishop.png');
	width: 100px;
	background-size:cover;
}

.pawn{
	background: red;
}
.beige{
	/*background: rgb(245,245,220);*/

	 background: rgb(245,222,179);
}

.brown{
	background: rgb(160,82,45);
}
